//!<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>========================================================
@import 'fonts';
@import 'functions';
@import 'null';
@import 'main';
@import 'components';
@import 'animations';

//!</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=======================================================

//!</ОБЩИЕ ПАРАМЕТРЫ>=====================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
}
//========================================================================================================
.container {
  max-width: $container + 30 + px;
  margin: 0px auto;
  padding: 0 15px;
  @media (max-width: 1200px) {
    max-width: 1140px;
  }
  @media (max-width: 992px) {
    max-width: 960px;
  }
  @media (max-width: 768px) {
    max-width: 720px;
  }
  @media (max-width: 576px) {
    max-width: 100%;
  }
}
//========================================================================================================
.page {
  flex: 1 1 auto;
}
//========================================================================================================
#__nuxt,
#__layout {
  height: 100%;
}
//========================================================================================================
//!</ОБЩИЕ ПАРАМЕТРЫ>=====================================================================================
